{{#modal-dialog action="closeOverlay"}}
  <p id="confirmMessage">{{t "item.cancel_last_item_confirm"}}</p>
  <a class="right button cancel" {{action "closeOverlay"}}>{{t "cancel"}}</a>
  <a class="right button ok" {{action "deleteOffer"}}>{{t "okay"}}</a>
{{/modal-dialog}}
