<nav class="tab-bar">
  <section class="left-small">
    {{link-to (t "back") 'offer.index' model.offer.id classNames="back"}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "item.item_details"}}</h1>
  </section>
</nav>

{{#validatable-form class="form-horizontal" action="submitItem" on="submit"}}

  <section class="main-section">
    {{partial 'item/item_edit_form'}}
  </section>

  <div class="btm">
    <div class="row">
      <div class="small-6 columns">
        <a href="#" class="button secondary expand" {{action 'discardChanges' model}}>{{t "items.add_item.cancel"}}</a>
      </div>

      <div class="small-6 columns">
        {{#online-button classNames="add_item_link button expand"}}{{t "items.add_item.save"}}{{/online-button}}
      </div>
    </div>
  </div>
{{/validatable-form}}
