<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offer.offer_details' model classNames='back'}}{{t 'back'}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t 'offer.cancel.title'}}</h1>
  </section>
</nav>


<section class="main-section cancel_offer">
  <div class="row info">
    <div class="small-12 columns">

      <div><i class="fa fa-exclamation-triangle"></i>  {{t 'delivery.cancel.no_ggv_cancel'}}</div>

      <div>{{t 'delivery.cancel.cancel_ggv'}}</div>

      <ul class='call_ggv'>
        {{#if driverContact}}
          <li>{{t 'delivery.cancel.call_driver'}} <a href="tel:{{driverContact}}">{{driverContact}}</a> or</li>
        {{/if}}
        <li>{{t 'delivery.cancel.call_ggv'}} <a href="tel:{{gogovanContact}}">{{gogovanContact}}</a></li>
      </ul>

      <div>{{t 'offer.cancel.confirm_ggv_cancel'}}</div>

    </div>
  </div>
  <div class="row">
    <div class="small-5 columns">
      {{#link-to 'offer.offer_details' model classNames="button secondary expand"}}
        {{t 'delivery.cancel.back'}}
      {{/link-to}}
    </div>

    <div class="small-7 columns">
      <a href="#" {{action 'cancelOffer'}} class="button secondary expand" {{bind-attr disabled=canCancel}}>
        {{t 'offer.cancel.cancel_offer'}}
      </a>
    </div>
  </div>
</section>
