<nav class="tab-bar">
  <section class="left-small">
    {{link-to (t "back") 'offer.offer_details' model classNames="back"}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "offer.confirm.heading"}}</h1>
  </section>
</nav>

<section class="main-section">
  <div class="row ui">
    <div class="small-12 columns confirm_order">

      <p><span class="icon-no-items"></span></p>

      <p>{{t "offer.confirm.thank"}}</p>

      <p>{{t "offer.confirm.review"}}</p>

      <p>{{t "offer.confirm.notice"}}</p>

    </div>
  </div>
</section>

<div class="btm">
  <div class="row">
    <div class="small-12 columns">
      <a {{action "confirmSubmitOffer"}} class="button expand">{{t "offer.confirm.next"}}</a>
    </div>
  </div>
</div>
