{{#if model.showOfferIcons}}
  <section id="camera_delete_bar" class="right-small">
    <a id="camera_icon" {{action "addMoreItem"}} title={{t "offer.camera"}} class="fontawe-icons {{if model.preventNewItem 'disabled'}}" >
      <i class="fa fa-camera"></i>
    </a>
    <a title={{t "offer.delete"}} {{action "cancelOffer" model}} class="fontawe-icons">
      <i class="fa fa-trash"></i>
    </a>
  </section>

  {{!-- Hidden File Upload Input --}}
  <div id="photo-list">
    {{cloudinary-upload ready="uploadReady" progress="uploadProgress"
      always="uploadComplete" done="uploadSuccess" submit="uploadStart"
      abort="cancelUpload" offerId=offer.id}}
  </div>
{{/if}}
