<nav class="tab-bar">
  <section class="left-small">
    {{link-to (t "back") 'offer.confirm' model classNames="back"}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "offer.notifications.title"}}</h1>
  </section>
</nav>

<section class="main-section">
  <div class="row ui">
    <div class="small-12 columns confirm_order">

      <p><span class="icon-no-items"></span></p>

      <p>{{t "offer.notifications.alert_updates"}}</p>

    </div>
  </div>
</section>

<div class="btm">
  <div class="row">
    <div class="small-6 columns">
      {{#link-to "offer.submit" classNames="button expand secondary"}}{{t "offer.notifications.no"}}{{/link-to}}
    </div>
    <div class="small-6 columns">
      {{#online-button action="sendPushNotification" classNames="button expand"}}{{t "offer.notifications.notify"}}{{/online-button}}
    </div>
  </div>
</div>
