<nav class="tab-bar">
  <section class="left-small">
    <a {{action "backLink"}} class="back">{{t "back"}}</a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "offer.submit.heading"}}</h1>
  </section>
</nav>

<section class="main-section">
  <div class="row ui">
    <div class="small-12 columns confirm_order">

      <p><span class="icon-no-items"></span></p>

      <p>{{t "offer.submit.message" }}</p>

    </div>
  </div>
</section>

<div class="btm">
  <div class="row">
    <div class="small-6 columns">
      {{#online-button action="submitOffer" actionArgs=false classNames="button expand secondary"}}{{t "no"}}{{/online-button}}
    </div>
    <div class="small-6 columns">
      {{#online-button action="submitOffer" actionArgs=true classNames="button expand"}}{{t "yes"}}{{/online-button}}
    </div>
  </div>
</div>
