<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    {{outlet "appMenuList"}}

    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">{{t "offers.index.donations"}}</h1>
      </section>
    </nav>

    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">

          {{#link-to "offers.new" class="button expand"}}{{t "offers.index.new_donation"}}{{/link-to}}

          <ul class="list list-items">
            {{#each offer in arrangedContent}}
              <li>
                {{#link-to 'offer.offer_details' offer}}
                  <span class="list-image">
                    <img {{bind-attr src="offer.displayImageUrl"}} class="thumb" />
                  </span>
                  <span class="info">
                    <h3>{{offer.status_text}}</h3>
                    <div class='offer_description'>
                    {{#unless offer.isDraft}}
                      {{#if offer.isScheduled }}
                        {{#if offer.delivery.isGogovan}}
                          {{display-date offer.delivery.schedule.scheduledAt}}
                          <br/>
                          {{#if offer.delivery.gogovanOrder.isPending}}
                            {{t "offers.index.awaiting_driver"}}<br/>
                          {{else}}
                            {{t "offers.index.driver_name"}}: {{offer.delivery.gogovanOrder.driverName}},
                            {{t "offers.index.phone"}}: {{offer.delivery.gogovanOrder.driverMobile}},
                            {{t "offers.index.vehicle"}}: {{offer.delivery.gogovanOrder.driverLicense}}
                          {{/if}}
                        {{else}}
                          {{display-date offer.delivery.schedule.scheduledAt}}
                          <br/>{{offer.delivery.schedule.slotName}}<br/>
                        {{/if}}
                      {{else}}
                        {{t "offers.index.approved"}}: {{offer.approvedItems.length}}<br/>
                        {{t "offers.index.rejected"}}: {{offer.rejectedItems.length}}<br/>
                      {{/if}}
                    {{/unless}}
                    </div>
                    {{partial 'unread_message_bubble'}}
                  </span>
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
          <hr>
        </div>
      </div>
    </section>

  </div>
</div>
