{{#init-foundation}}
  <aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
      <li><label>{{t "application.app_menu"}}</label></li>
      <li>{{#link-to 'offers'}}{{t "application.my_offers"}}{{/link-to}}</li>
      <li><a href="#" {{action 'logMeOut'}}>{{t "application.logout"}}</a></li>
      {{#if appVersion}}
        <li><a>v{{appVersion}}</a></li>
      {{/if}}
    </ul>
  </aside>
{{/init-foundation}}
