<div class="contain-to-grid sticky faq_nav_bar">
  <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
    <section class="left-small">
      {{#link-to 'tour' classNames='back'}}{{t "back"}}{{/link-to}}
    </section>

    <section class="middle tab-bar-section">
      <h1 class="title">{{t "faqs"}}</h1>
    </section>
  </nav>
</div>

<section class="main-section faq_list">
  <div class="row">
    <div class="small-12 columns">
      {{#if isChinese}}
        {{partial 'faq_content_cn'}}
      {{else}}
        {{partial 'faq_content_en'}}
      {{/if}}
    </div>
  </div>
  {{view "go-to-top-button"}}
</section>
