<nav class="tab-bar ggv_order">
  <section class="middle tab-bar-section">
    <h1 class="title">{{t "ggv_order.goodcity_job_summary"}}</h1>
  </section>
</nav>

<section class="main-section ggv_order_details">
  <div class="offer-status row">
    <div class="small-2 columns warning-icon">
      <i class="fa fa-exclamation-triangle"></i>
    </div>
    <div class="small-10 columns msg">
      <div>{{t "ggv_order.message"}}</div>
    </div>
  </div>

  <div class="row delivery-from">
    <div class="small-12 columns address">
      <h3>{{t "ggv_order.delivery_from"}}: {{userName}} </h3>
      {{districtName}} - {{userMobile}}
    </div>
    <hr>
  </div>

  <div class="row delivery-to">
    <div class="small-10 large-11 columns address">
      <h3>{{t "ggv_order.delivery_to"}}</h3>
      {{t 'ggv_order.crossroads_address'}}
    </div>
    <div class="small-2 large-1 columns">
      <a href={{gmapUrl}} target="_blank">
        <i class="fa fa-map-marker fa-3x"></i>
        {{ t "ggv_order.map"}}
      </a>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="list list-items">
        {{#each model.items as |item|}}
          <li>
            <span class="list-image">
              <img {{bind-attr src="item.displayImageUrl"}} class="thumb" />
            </span>
            <span class="info">
              <div class="row">
                <div class="small-12 columns">
                  <h3 class="ellipsis one-line-ellipsis">{{{item.itemType.name}}}</h3>
                  <div class="ellipsis two-line-ellipsis">{{item.donorDescription}}</div>
                </div>
              </div>
            </span>
          </li>
        {{/each}}
      </ul>
      <hr class="end_of_ul">
    </div>
  </div>
</section>
